# Source parent .envrc, but ensure we also have to `direnv allow` parent .envrc
# Normally I'd want to see the loading messages from source_up, not those from
# the direnv exec, but they go to stderr, and I don't want to suppress a need
# to allow the parent envrc.
direnv exec .. true >/dev/null || exit 1
source_up >/dev/null 2>&1

PATH_add .
PATH_add scripts/WinWorld
PATH_add scripts

use nix

PATH_add "${GEM_HOME:-$HOME/.gem/ruby/3.0.0/bin}/bin"
